{% extends 'stepsTracker/base.html' %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            let ctx = document.getElementById('myChart').getContext('2d');
            let myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ["Travelled", "Remaining"],
                    datasets: [{
                        data: [{{ totalSteps }}, {{ remaining }}],
                        backgroundColor: [
                            '#5D386B',
                            '#02C39A',
                        ],
                        borderColor: [
                            '#5D386B',
                            '#02C39A',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        diaplay: true,
                    },

                    scales: {
                        xAxes: [{
                            display: false //this will remove all the x-axis grid lines
                        }],
                        yAxes: [{
                            display: false,
                            ticks: {
                                beginAtZero: true,
                            }
                        }]
                    }
                }
            });
        });

        $(document).ready(function () {
            let ctx = document.getElementById('myChart_bar').getContext('2d');
            let myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5'],
                    datasets: [{
                        label: 'Walked so far',
                        data: [{{ week1 }}, {{ week2 }}, {{ week3 }}, {{ week4 }}, {{ week5 }}],
                        backgroundColor: [
                            '#5D386B',
                            '#5D386B',
                            '#5D386B',
                            '#5D386B',
                            '#5D386B'],
                        borderColor: [
                            '#5D386B',
                            '#5D386B',
                            '#5D386B',
                            '#5D386B',
                            '#5D386B'],
                        borderWidth: 1,
                    },
                        {
                            label: 'Remaining steps per week',
                            data: [{{ rweek1 }}, {{ rweek2 }}, {{ rweek3 }}, {{ rweek4 }}, {{ rweek5 }}],
                            type: 'line',
                            backgroundColor: [
                                '#02C39A',
                                '#02C39A',
                                '#02C39A',
                                '#02C39A',
                                '#02C39A'
                            ],
                            borderColor: [
                                '#02C39A',
                                '#02C39A',
                                '#02C39A',
                                '#02C39A',
                                '#02C39A'],
                            borderWidth: 5,
                            fill: false,
                            lineTension: 0
                        }
                    ]
                },
                options: {
                    legend: {
                        display: false,
                    },
                    title: {
                        display: true,
                        text: 'Steps taken VS Steps remaining per week'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });

    </script>
{% endblock scripts %}
{% block content %}


    <div class="row">
        <div class="container col-7">
            <br>
            <br>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show">
                        <strong>Success!</strong> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <!-- {##}
            {#            <h1>Thanks to everyone for your contribution</h1>#}
            {#            <h3>Travelled Distance: {{ totalSteps }} Kms </h3>#}
            {#            <h3>Goal Distance: 7966 Kms </h3>#} -->

            <div class="col">
                <table id="tablePreview" class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Team Name</th>
                        <th>Lead</th>
                        <th>Steps Travelled</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.user.first_name }}</td>
                            <td>{{ item.user.last_name }}</td>
                            <td>{{ item.steps }}
                                <a href="{% url 'view-steps' item.pk %}">(View)</a>
                                {% if item.user.id == user.id %}
                                    <a href="{% url 'update-steps' item.pk %}">(Edit)</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="container col-4">
            <div class="row">
                <br>
                &nbsp;
                <canvas id="myChart" width="100" height="50"></canvas>
            </div>
            <br>
            <br>
        </div> -->
    </div>

{% endblock content %}