{% extends 'stepsTracker/base.html' %}
{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="col-6 align-self-center">
            <form method="POST">
                <h1>Sign Up</h1>
                <hr>
                {% csrf_token %}

                <div class="row">
                    <label for="team_name">Team Name - Lead Name</label>
                    <div class="col">
                        <input type="text" name='team_name' class="form-control" placeholder="Team Name"
                               aria-label="Team Name">
                    </div>
                    <div class="col">
                        <input type="text" name='lead_name' class="form-control" placeholder="Lead Name"
                               aria-label="Lead Name">
                    </div>
                </div>

                <br>
                <label for="username">Username</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                    <input type="text" name='username' class="form-control" placeholder="Enter Username"
                           aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>

                <label for="password1">Password</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock"></i></span>
                    <input type="password" name='password1' class="form-control" placeholder="Enter Password"
                           aria-label="Password"
                           aria-describedby="basic-addon1">
                </div>

                <label for="password1">Confirm Password</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock"></i></span>
                    <input type="password" name='password2' class="form-control" placeholder="Confirm Password"
                           aria-label="Password"
                           aria-describedby="basic-addon1">
                </div>

                <button type="submit" class="btn btn-primary">Register Me!</button>
                &nbsp
                <a class="btn btn-outline-success" href="{% url 'signin' %}" role="button">Login</a>

            </form>
            <br>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

        </div>
        <br>

    </div>

{% endblock %}