{% extends 'stepsTracker/base.html' %}
{% block scripts %}
<script>
    $(document).ready(function () {
    let ctx = document.getElementById('myChart').getContext('2d');
    let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5'],
            datasets: [{
                label: 'Total steps walked per week',
                data: [{{ object.week1 }}, {{ object.week2 }}, {{ object.week3 }}, {{ object.week4 }}, {{ object.week5 }}],
                backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)'   
                ],
                borderWidth: 1
            }]
        },
        options: {
            title:{
                display:true,
                text:'Total Steps taken per week'
            },
            legend:{
                display:false
            },
            scales: {
        xAxes: [{
            gridLines: {
                drawOnChartArea: false
            }
        }],
        yAxes: [{
            gridLines: {
                drawOnChartArea: false
                }   
        }]
    }
        }
    });
    });
    </script>    
{% endblock scripts %}
{% block content %}
    <div class="container">
        <div class="col">
            <br>
            <table id="tablePreview" class="table table-hover">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Steps Travelled</th>
                    <th>Week 1</th>
                    <th>Week 2</th>
                    <th>Week 3</th>
                    <th>Week 4</th>
                    <th>Week 5</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.user.first_name }}</td>
                    <td>{{ object.user.last_name }}</td>
                    <td>{{ object.steps }}</td>
                    <td>{{ object.week1 }}</td>
                    <td>{{ object.week2 }}</td>
                    <td>{{ object.week3 }}</td>
                    <td>{{ object.week4 }}</td>
                    <td>{{ object.week5 }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {% if object.user.id == user.id %}

            <a href="{% url 'update-steps' object.pk %}">
                <button type="button" class="btn btn-success">Edit Steps</button>
            </a>
        {% endif %}
        &nbsp;
        <a href="{% url 'home' %}">
            <button type="button" class="btn btn-secondary">Back</button>
        </a>

    </div>
    <div class="container col-4">
        <div class="row">
            <canvas id="myChart" width="400" height="250"></canvas>
        </div>
    </div>
{% endblock %}